
.weatherNow,
.humidity,
.windy {
  color: #0d335d;
  text-align: center;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  position: relative;
  top: 6px;
  right: 70px;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 15px;
}