.fullDate {
  color: #0d335d;
  text-align: center;
  font-family: "Gabriela", serif;
  font-size: 25px;
  padding: 3px;
  letter-spacing: -1px;
}

.weatherNow, .windy, .humidity {
  font-family: Arial, Helvetica, sans-serif;
  color: #1a508b;
  font-size: 13px;
  list-style: none;
  line-height: 15px;
  text-transform: capitalize;
}

.mainIcon {
  position: relative;
  top: -18px;
  right: -70px;
}

.fDegrees {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  letter-spacing: -2px;
  position: relative;
  top: -30px;
  right: -100px;
}

.cDegrees {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  letter-spacing: -2px;
  position: relative;
  top: -30px;
  right: -105px;
}

.divider {
  font-size: 20px;
  position: relative;
  top: -30px;
  right: -105px;
}