h2 {
  color: #1a508b;
  text-align: right;
  font-family: "Raleway", sans-serif;
  font-size: 55px;
  line-height: 25px;
  position: relative;
  top: 10px;
  right: -35px;
}

.fDegrees {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  letter-spacing: -2px;
  position: relative;
  top: -30px;
  right: -100px;
}

.divider {
  font-size: 20px;
  position: relative;
  top: -30px;
  right: -105px;
}

.cDegrees {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  letter-spacing: -2px;
  position: relative;
  top: -30px;
  right: -105px;
}

a {
  text-decoration: none;
}
